body.tag {

  .banner-top,
  .banner-bottom,
  .banner-content-1,
  .banner-content-2 {
    margin-bottom: var(--layout-space);
  }

  .breadcrumb {
    margin-bottom: var(--layout-space);
  }

  .content-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    margin-bottom: var(--layout-space);

    h1 {
      font-size: 2.25rem;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 4px;
      border-bottom: 3px solid black;
    }
  }

  .inner-content,
  .results {
    margin-bottom: var(--layout-space);
  }
}