@use 'mixins' as *;

.container {
  width: 100%;
  max-width: 87.5rem;
  padding: 0 1rem;
  margin: 0 auto;

  @include lg {
    padding: 0 1.5rem;
  }
}

.context-cidade {
  --context-color: var(--color-cidade);
}

.context-policial {
  --context-color: var(--color-policial);
}

.context-politica {
  --context-color: var(--color-politica);
}

.context-saude {
  --context-color: var(--color-saude);
}

.context-cultura {
  --context-color: var(--color-cultura);
}

.context-esporte {
  --context-color: var(--color-esporte);
}

.context-economia {
  --context-color: var(--color-economia);
}

.context-lazer {
  --context-color: var(--color-lazer);
}

.context-galerias {
  --context-color: var(--color-galerias);
}

.context-facebook {
  --context-color: var(--color-facebook)
}

.context-linkedin {
  --context-color: var(--color-linkedin)
}

.context-dark {
  --context-color: var(--color-dark)
}

.context-whatsapp {
  --context-color: var(--color-whatsapp)
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}