@use 'variables';
@use 'utilities';
@use 'layout/reset';
@use 'layout/header';
@use 'layout/footer';
@use 'layout/sidebar';
@use 'layout/content';
@use 'layout/layouts';
@use 'layout/ads';
@use 'layout/news';
@use 'layout/galeria';
@use 'layout/videos';
@use 'layout/components';
@use 'layout/breadcrumb';
@use 'layout/share';

body {
  background-color: hsl(var(--color-background));
  font-family: var(--font-sans);
  color: hsl(var(--color-foreground));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-top: calc(var(--layout-space));
  padding-bottom: calc(var(--layout-space));
}

::selection {
  background-color: rgba(0, 0, 0, 0.15);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}