@use '../mixins' as *;

.default-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--layout-space);

  @include lg {
    grid-template-columns: 1fr 18.75rem;
  }

  @include xl {
    grid-template-columns: 1fr 21.25rem;
  }

  @include xxl {
    grid-template-columns: 1fr 25rem;
  }

  >.content {
    overflow: hidden;
  }

  >.sidebar {
    overflow: hidden;
  }
}